@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #eadbc8;
  font-family: 'Akshar', sans-serif;
  font-size: 16px;
  color: #32302e;
}

.dark#app {
  background-color: #2d2b29;
  color: #f2e9de;
}
