@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #f8f0e5;
  font-family: 'Akshar', sans-serif;
  color: #102c57;
}
